@font-face {
    font-family: 'RealTextPro';
    src: url('../assets/fonts/RealTextPro-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Neutronic';
    src: url('../assets/fonts/Neutronic-Regular.woff2') format('woff2');
}

h1 {
    font-family: 'RealTextPro', sans-serif;
}

h2, h5 {
    font-family: 'RealTextPro', sans-serif;
}

p, li {
    font-family: 'Neutronic', sans-serif;
    font-size: 102%;
}

.intro-container {
    max-width: 750px;
    margin: 4em auto 3em auto;
    text-align: center;
}

.intro-img {
    max-width: auto;
    max-height: 200px;
}


.welcome-container, .bio-container, .work-container, .publications-container, .contact-container {
    max-width: 720px;
    margin: 4em 2em 4em 2em;
}

.nav-item {
    font-size: large;
    font-family: 'RealTextPro', sans-serif;
}

.work-hr {
    max-width: 25%;
    margin: 1.5em auto;
}

.item-head {
    color: #616161;
}

[data-bs-theme="dark"] .item-head {
    color: #c7c7c7; /* Lighter color for dark mode for better readability */
}


@media (max-width: 767px) {
    .card {
        max-width: 75%;
        max-height: 50%;
    }
}