@import url(https://db.onlinewebfonts.com/c/96e3eaa4be579c8593e16efe703d43c2?family=Acre-Medium);

@font-face {
    font-family: 'Belbo';
    src: url('assets/fonts/Belbo-Light.otf') format('opentype');
}

@font-face {
    font-family: "Acre-Medium";
    src: url("https://db.onlinewebfonts.com/t/96e3eaa4be579c8593e16efe703d43c2.eot");
    src: url("https://db.onlinewebfonts.com/t/96e3eaa4be579c8593e16efe703d43c2.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/96e3eaa4be579c8593e16efe703d43c2.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/96e3eaa4be579c8593e16efe703d43c2.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/96e3eaa4be579c8593e16efe703d43c2.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/96e3eaa4be579c8593e16efe703d43c2.svg#Acre-Medium")format("svg");
}

h1 {
    font-family: 'Acre-Medium', 'AR One Sans', sans-serif;
}

h2, h5 {
    font-family: 'Acre-Medium', 'AR One Sans', sans-serif;
}

p, li {
    font-family: 'Belbo', 'Assistant', sans-serif;
    font-size: 102%;
}

.intro-container {
    max-width: 750px;
    margin: 4em auto 3em auto;
    text-align: center;
}

.intro-img {
    max-width: auto;
    max-height: 200px;
}


.welcome-container, .bio-container, .work-container, .publications-container, .contact-container {
    max-width: 720px;
    margin: 4em 2em 4em 2em;
}

.nav-item {
    font-size: large;
    font-family: 'Acre-Medium', 'AR One Sans', sans-serif;
}

.work-hr {
    max-width: 25%;
    margin: 1.5em auto;
}

.item-head {
    color: #616161;
}

[data-bs-theme="dark"] .item-head {
    color: #c7c7c7; /* Lighter color for dark mode for better readability */
}


@media (max-width: 767px) {
    .card {
        max-width: 75%;
        max-height: 50%;
    }
}